.btn {
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
}

.btn--big {
  font-size: 21px;
  line-height: 26px;
}

.btn--small {
  font-size: 14px;
  line-height: 21px;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.btn:active .btn__text,
.hotel__info:active .btn__text {
  color: rgba(255, 255, 255, 0.3);
}

.btn__search {
  width: 566px;
  padding: 32px 125px 28px 126px;
  background-color: #766357;
}

.btn__search:hover,
.btn__search:focus {
  background-color: #604E43;
}

.btn__search:active {
  background-color: #503E33;
}

.btn__submit {
  width: 100%;
  height: 58px;
  background-color: #81B3D2;
}

.btn__submit:hover,
.btn__submit:focus {
  background-color: #669EC0;
}

.btn__submit:active {
  background-color: #5496BD;
}

.btn__booking {
  box-sizing: border-box;
  width: 140px;
  height: 27px;
  line-height: 21px;
  vertical-align: top;
  background-color: #766357;
}

.btn__booking:hover,
.btn__booking:focus {
  background-color: #604E43;
}

.btn__booking:active {
  background-color: #503E33;
}

.btn__show {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn__show:hover,
.btn__show:focus {
  color: #000000;
  background: #ffffff;
}
.btn__down,
.btn__up {
  background-color: transparent;
  padding: 0;
  margin-left: 10px;
}

.link {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #81B3D2;
  opacity: 1;
}

.link:active,
.link:active::after {
  opacity: 0.3;
}

.link__sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81B3D2;
}

.link__sort:active {
  color: #000000;
  text-decoration-line: none;
  opacity: 1;
}

.link__sort--current {
  color: #81B3D2;
  text-decoration-line: none;
}
