.btn {
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.btn:active .btn__text {
  opacity: 0.3;
}

.btn__search {
  padding-top: 31px;
  padding-right: 125px;
  padding-bottom: 28px;
  padding-left: 126px;
  width: 565px;
  background-color: #766357;
}

.btn__search:hover {
  background-color: #604E43;
}

.btn__search:active {
  background-color: #503E33;
}

.btn__submit {
  background-color: #81B3D2;
}

.btn__submit:hover {
  background-color: #669EC0;
}

.btn__submit:active {
  background-color: #5496BD;
}

.btn__booking {
  font-size: 14px;
  line-height: 21px;
  background-color: #766357;
}

.btn__booking:hover {
  background-color: #604E43;
}

.btn__booking:active {
  background-color: #503E33;
}

.btn__show {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: transparent;
}

.btn__show:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.btn__booking {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  background-color: #766357;
}

.btn__booking:hover {
  background-color: #604E43;
}

.btn__booking:active {
  background-color: #503E33;
}

.input__label {
  font-weight: 700;
  color: #000000;
}

.input__field {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.input__field:hover {
  background-color: #EBEBEB;
}

.input__field:focus {
  background-color: #FFFFFF;
}

.input__field::placeholder {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
