.btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
}

.btn:hover {
  cursor: pointer;
}
.btn:active .btn__text,
.hotel__info:active .btn__text {
  opacity: 0.3;
}

.btn__search {
  width: 566px;
  padding: 32px 125px 28px 126px;
  background-color: #766357;
}

.btn__search:hover,
.btn__search:focus {
  background-color: #604E43;
}

.btn__search:active {
  background-color: #503E33;
}

.btn__submit {
  width: 100%;
  height: 58px;
  background-color: #81B3D2;
}

.btn__submit:hover {
  background-color: #669EC0;
}

.btn__submit:active {
  background-color: #5496BD;
}

.btn__booking {
  box-sizing: border-box;
  width: 140px;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  vertical-align: top;
  background-color: #766357;
}

.btn__booking:hover {
  background-color: #604E43;
}

.btn__booking:active {
  background-color: #503E33;
}

.btn__show {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: transparent;
}

.btn__show:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.btn__down,
.btn__up {
  background-color: transparent;
  padding: 0;
  margin-left: 10px;
}
