.hotels-filter {
  min-height: 217px;
  background-color: #497EA8;
  background-image: url("../img/backgrounds/filter-background.jpg");
}

.filter {
  display: flex;
  flex-direction: row;
}

.filter-group {
  width: 255px;
  margin: 0;
  padding: 0;
}

.filter-range {
  width: 318px;
  margin: 0;
  padding: 0;
}

.filter .wrapper {
  flex-direction: column;
  margin-left: auto;
}

.filter-group__heading,
.filter-range__heading {
  margin-bottom: 27px;
  padding-top: 26px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
}


.filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-list__label {
  font-size: 14px;
  color: #FFFFFF;
}

.filter-list__item {
  margin-bottom: 25px;
}

.filter-price {
  margin-left: auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
}
