.footer {

}
.footer .container {
  display: flex;
  min-height: 120px;
  justify-content: space-around;
}

.hashtag__link {
  font-size: 21px;
}

.social {
  list-style: none;
}

.social__link {
  font-size: 21px;
}
.hashtag {
  box-sizing: border-box;
  width: 240px;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 36px;
}
.copyright {
  box-sizing: border-box;
  width: 240px;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 36px;
}
