.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
}

.hashtag {
  width: 400px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hashtag__link {
  font-size: 21px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
  margin: 0;
  padding-top: 8px;
  padding-left: 6px;
  list-style: none;
}

.social__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  font-size: 21px;
  background-color: #81B3D2;
}

.social__link:hover {
  background-color: #669EC0;
}

.social__link:active {
  background-color: #5496BD;
  opacity: 1;
}

.social__link:active .social__icon {
  opacity: 0.3;
}

.copyright {
  width: 400px;
  min-height: 41px;
  box-sizing: border-box;
  padding-top: 8px;
}
.copyright__text {
  display: block;
  box-sizing: border-box;

}

.copyright__link {
  display: inline-block;
  vertical-align: baseline;
  box-sizing: border-box;
  padding-top: 6px;
  padding-left: 4px;
  vertical-align: middle;
}
.copyright__logo {
width: 115px;
height: 41px;
}
