@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.form-wrap {
  position: absolute;
  overflow: hidden;
  margin: 0 0 0 calc(50% - 282.5px);
  padding: 0;
  width: 565px;
}

.form-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 56px 54px 55px 55px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  animation: bounce 1.5s;
}

.form-search--hidden {
  display: none;
}

.form-search--error {
  animation: shake 0.6s;
}

.input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.input-wrap--big {
  margin-bottom: 29px;
  width: 458px;
}

.input-wrap--small {
  width: 226px;
}

.input-wrap--small:nth-last-child(2) {
  justify-content: flex-end;
  margin-left: auto;
  width: 220px;
}

.input-wrap--small:nth-last-child(2) .form-search__label {
  margin-right: 22px;
}

.field-wrap {
  position: relative;
  margin: 0;
  padding: 0;
}

.form-search__label {
  color: #000000;
  font-weight: 700;
}

.form-search__field {
  margin: 0 0 0 auto;
  height: 38px;
  border: none;
  background-color: #F2F2F2;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.form-search__field--big {
  padding: 0 38px 0 13px;
  width: 346px;
}

.form-search__field--small {
  padding: 0 38px;
  width: 118px;
  text-align: center;
}

.form-search__field:hover {
  background-color: #EBEBEB;
}

.form-search__field:focus {
  border: 2px solid #E5E5E5;
  background-color: #FFFFFF;
}

.form-search__field--big:focus {
  padding-left: 11px;
}

.form-search__field:-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  opacity: 1;
}

.form-search__field::placeholder {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  opacity: 1;
}
