.form-search {
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  width: 565px;
  height: 395px;
  margin: 0 0 0 calc(50% - 282.5px);
  padding: 56px 54px 55px 55px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  flex-wrap: wrap;
}

.input-wrap {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 0 29px;
}

.input-wrap--big {
  width: 458px;
}

.input-wrap--small {
  width: 228px;
  margin-bottom: 54px;
}

.input-wrap--small:nth-last-child(2) {
  justify-content: flex-end;
}

.input-wrap--small:nth-last-child(2) .form-search__label {
  margin-right: 22px;
}

.form-search__label {
  color: #000000;
  font-weight: 700;
}

.form-search__field {
  box-sizing: border-box;
  height: 38px;
  margin: 0;
  color: #000000;
  border: none;
  background-color: #F2F2F2;
  text-transform: uppercase;
  font-weight: 700;
}

.form-search__field--big {
  width: 346px;
  padding: 0 0 0 13px;
}

.form-search__field--small {
  width: 118px;
  padding: 0 0 0 2px;
  text-align: center;
}

.form-search__field:hover {
  background-color: #EBEBEB;
}

.form-search__field:focus {
  border: 2px solid #E5E5E5;
  background-color: #FFFFFF;
}

.form-search__field--big:focus {
  padding-left: 11px;
}

.form-search__field::placeholder {
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
