body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  line-height: 21px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

/* Remove controls */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}
