body,
html {
  min-width: 1200px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

img {
  width: 100%;
  height: auto;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.page-container {
  width: 1056px;
  margin: 0 auto;
}

.text {
  margin: 0;
  line-height: 24px;
}
.link {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #81B3D2;
}

.link:active,
.link:active::after {
  opacity: 0.3;
}
