.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.site-logo {
  z-index: 1;
  margin-bottom: -70px;
  width: 138px;
  height: 71px;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  min-height: 56px;
  width: 100%;
  list-style: none;
}

.menu__item {
  padding: 12px;
  width: 239px;
}

.menu__item:nth-child(3) {
  margin-left: auto;
}

.menu__link--current {
  color: #766357;
}

.menu__link--current:hover {
  color: #766357;
}
