.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-logo {
  width: 138px;
  height: 71px;
  margin-bottom: -70px;
  z-index: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  min-height: 56px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  width: 239px;
  padding: 12px;
}

.menu__item:nth-child(3) {
  margin-left: auto;
}

.menu__link--current {
  color: #766357;
}

.menu__link--current:hover {
  color: #766357;
}
