.nav .container {
  display: flex;
  justify-content: space-around;
}

.logo {
  position: absolute;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__column {
  width: 478px;
}

.menu__item {
  box-sizing: border-box;
  width: 239px;
  min-height: 56px;
  padding-top: 14px;
}

.menu__link--current {
  color: #766357;
}

.menu__link--current:hover {
  color: #766357;
}