.welcome {
  background-color: #9edafe;
  background-image: url("../img/backgrounds/sedona-background.jpg");
  background-position-y: -56px;
}

.welcome__img {
  padding-top: 76px;
  padding-bottom: 18px;
  width: 456px;
}

.welcome::after {
  display: block;
  margin: 0;
  width: 100%;
  height: 57px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='1200px' height='57px' viewBox='0 0 1200 57' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Pages' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Index' transform='translate(-38.000000, -509.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='intro' transform='translate(38.000000, -27.000000)'%3E%3Cg id='polygon' transform='translate(0.000000, 536.000000)'%3E%3Cpolygon id='Shape' points='0 57 0 0 250 24 250 0 600 57 950 0 950 24 1200 0 1200 57'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  content: "";
}

.about {
  z-index: 1;
  line-height: 26px;
}

.about__heading {
  margin: 0 auto 28px;
  padding-top: 62px;
  padding-bottom: 0;
  width: 470px;
  font-weight: 700;
  font-size: 21px;
}

.about__text {
  margin: 0 auto;
  padding: 0 25% 49px 25%;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  min-height: 256px;
  width: 400px;
  background-color: #EEEEEE;
}

.features__item:nth-last-child(3) {
  padding-right: 95px;
  padding-left: 95px;
}

.features__item:nth-last-child(2) {
  padding-right: 69px;
  padding-left: 69px;
}

.features__item:nth-last-child(1) {
  padding-right: 77px;
  padding-left: 77px;
}

.features__item--big {
  display: flex;
  width: 100%;
}

.features>.features__item:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
}

.features__item--reverse {
  flex-direction: row-reverse;
}

.features__column {
  margin: 0;
  padding: 0 60px;
  width: 400px;
  height: 256px;
}

.features__item .features__column:nth-child(1) {
  padding-right: 49px;
  padding-left: 48px;
}

.features__column--emphasized {
  background-color: #81B3D2;
  color: #FFFFFF;
}

.features__column--big {
  padding: 0;
  width: 800px;
}

.features__heading {
  margin: 46px 0 18px;
  padding-top: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 23px;
}

.features__column--emphasized .features__heading {
  padding-top: 0;
}

.benefits {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background-color: #FFFFFF;
  list-style: none;
}

.benefits__item {
  min-height: 330px;
  width: 400px;
  color: #333;
}

.benefits__item::before {
  position: relative;
  display: block;
  margin: 0 auto;
  content: '';
}

.benefits__icon-lodging::before {
  top: 60px;
  width: 75px;
  height: 72px;
  background-image: url("../img/svg/icon-1.svg");
}

.benefits__icon-food::before {
  top: 60px;
  width: 75px;
  height: 70px;
  background-image: url("../img/svg/icon-3.svg");
}

.benefits__icon-souvenir::before {
  top: 56px;
  width: 64px;
  height: 77px;
  background-image: url("../img/svg/icon-2.svg");
}

.benefits__heading {
  margin: 88px 0 18px;
  padding: 0 58px;
  font-weight: 700;
  font-size: 21px;

  overflow-wrap: break-word;
}

.benefits__item:last-child .benefits__heading {
  margin-top: 83px;
}

.benefits__text {
  margin: 0;
  padding-right: 75px;
  padding-left: 73px;
}

.benefits__text:nth-child(2) {
  padding-right: 58px;
  padding-left: 58px;
}

.search {
  z-index: 1;
}

.search__text {
  display: block;
  margin: 0 auto 44px;
  width: 464px;
  line-height: 24px;
}

.search__heading {
  display: block;
  margin-bottom: 6px;
  padding-top: 58px;
  font-weight: 700;
  font-size: 30px;

  overflow-wrap: break-word;
}

.map {
  background-color: #f2f2f2;
  background-image: url("../img/map.png");
}

.map iframe {
  margin-bottom: -127px;
  width: 100%;
  height: 593px;
  border: 0;
}
