.hotels {
  text-align: left;
  list-style: none;
}
.hotel__link {
  font-size: 21px;
}

.hotel__info {
  font-weight: 700;
  color: #ffffff;
  background-color: #81B3D2;
  text-decoration: none;
}
.hotel__info:hover {
  background-color: #669EC0;
}
.hotel__info:active {
  background-color: #5496BD;
}
.rating {
  color: #666666;
  background-color: #F2F2F2;
}
