.welcome {
  margin-bottom: 81px;
  background-color: #9EDAFE;
  background-image: url("../img/backgrounds/sedona-background.jpg");
  background-position-y: -56px;
}

.welcome__img {
  width: 458px;
  padding-top: 76px;
  padding-bottom: 24px;
}

.about {
  line-height: 26px;
}

.about__heading {
  width: 470px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding-top: 29px;
  padding-bottom: 0px;
  font-size: 21px;
  font-weight: 700;
}

.about__text {
  margin: 0 auto;
  padding-bottom: 49px;
}

.features {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item:first-child {
  display: flex;
  flex-direction: column;
}

.features>.features__item:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  outline: 1px red dotted;
}

.wrap .features__item {
  width: 400px;
  min-height: 256px;
  margin: 0 auto;
  padding-top: 46px;
}

.features__heading {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
}

.features__text {
  margin: 0;
}

.benefits {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  background-color: #FFFFFF;

}

.benefits__item {
  width: 282px;
  min-height: 330px;
  color: #333333;
}

.benefits__heading {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
}

.text {
  margin: 0;
  line-height: 24px;
}

.search__text {
  display: block;
  margin: 0 auto 44px auto;

  padding-top: 12px;
  width: 464px;
}

.search__heading {
  display: block;
  margin-bottom: 6px;
  font-size: 30px;
  font-weight: 700;
}

.form-search {
  box-sizing: border-box;
  width: 565px;
  margin: 0 auto;
  padding-top: 55px;
  padding-right: 55px;
  padding-left: 55px;
  border-bottom: 55px;
}

.map {
  border: 0;
}
