html,
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;

    background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu {
  list-style: none;
}
.menu__link {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}
.menu__link:hover {
  color: #81B3D2;
}
.menu__link:active {
  color: #000000;
  opacity: 0.3;
}

.welcome {
  background-color: #9EDAFE;
  background-image: url("../img/backgrounds/sedona-background.jpg");
}

.about {
  line-height: 26px;
}
.about__heading {
  font-size: 21px;
  font-weight: 700;
}

.features {
  list-style: none;
}
.features__heading {
  font-size: 21px;
  font-weight: 700;
}
.features__item:nth-child(1),
.features__item:nth-child(3) {
  color: #ffffff;
  background-color: #81B3D2;
}

.benefits {
  list-style: none;
  background-color: #ffffff;
}
.benefits__item {
  color: #333333;
}
.benefits__heading {
  font-size: 21px;
  font-weight: 700;
}

.text {
  line-height: 24px;
}

.search__heading {
  font-size: 30px;
  font-weight: 700;
}

.btn {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;

  text-transform: uppercase;
}
.btn:active .btn__text{
  opacity: 0.3;
}

.btn__search {
  background-color: #766357;
}
.btn__search:hover {
  background-color: #604E43;
}
.btn__search:active {
  background-color: #503E33;
}

.input__label {
  font-weight: 700;
  color: #000000;
}

.input__field {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #F2F2F2;
}
.input__field:hover {
  background-color: #EBEBEB;
}
.input__field:focus {
  background-color: #ffffff;
}
.input__field::placeholder {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.btn__submit {
  background-color: #81B3D2;
}
.btn__submit:hover {
  background-color: #669EC0;
}
.btn__submit:active {
  background-color: #5496BD;
}

.social {
  list-style: none;
}
.social__link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  text-decoration: none;
}
.social__link:hover {
  color: #81B3D2;
}
.social__link:active {
  color: #000000;
  opacity: 0.3;
}

.copyrigth {
  line-height: 26px;
}

/* hotels.html */
.hotels {
  text-align: left;
  list-style: none;
}

.hotel__link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  text-decoration: none;
}
.hotel__link:hover {
  color: #81B3D2;
}
.hotel__link:active {
  color: #000000;
  opacity: 0.3;
}

.hotel__info {
  font-weight: 700;
  color: #ffffff;
  background-color: #81B3D2;

  text-decoration: none;
}
.hotel__info:hover {
  background-color: #669EC0;
}
.hotel__info:active {
  background-color: #5496BD;
}

.btn__booking{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  background-color: #766357;
}
.btn__booking:hover{
  background-color: #604E43;
}
.btn__booking:active{
  background-color: #503E33;
}

.rating {
  color: #666666;
  background-color: #F2F2F2;
}
